# Logs and databases #
######################
*.log
*.sql
*.sqlite

config.php
config.php~
.htaccess.txt
.htaccess
.gitignore~



# Folders #
######################
ModulesTMP/
install/
system/
mymodules/
Mybackup/
