# Logs and databases #
######################
*.log
*.sql
*.sqlite

config.php
config.php~
.htaccess.txt
.htaccess
.gitignore~
mods.cashe
vq2-catalog_view_theme_default_template_common_header.tpl
mods.cashe

# Folders #
######################
ModulesTMP/
install/
system/
mymodules/
Mybackup/
vqmod/vqcache/
