.nivoSlider {
    position: relative;
}

.featured_slide {
    background: url("../image/featured.png") no-repeat scroll center top transparent;
}

.nivoSlider img {
    display: none;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.nivoSlider a.nivo-imageLink {
    border: 0px none;
    display: none;
    height: 100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 6;
}

.nivo-slice {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}

.nivo-caption {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0% 0% #FAFAFA;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    bottom: -24px;
    color: #555555;
    left: 0px;
    position: absolute;
    text-shadow: 0px 1px #FFFFFF;
    width: 99.8%;
    z-index: 8;
}

.nivo-caption p {
    margin: 0px;
    padding: 0px;
}

.nivo-caption a {
    display: inline ! important;
}

.nivo-html-caption {
    display: none;
}

.nivo-directionNav a {
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 9;
}

.nivo-prevNav {
    left: 0px;
}

.nivo-nextNav {
    right: 0px;
}

.nivo-controlNav a {
    cursor: pointer;
    position: relative;
    z-index: 9;
}

.nivo-controlNav a.active {
    font-weight: bold;
}

.slideshow {
    margin-bottom: 20px;
}

.slideshow a {
    border: 0px none;
    display: block;
}

.nivo-controlNav a {
    cursor: pointer;
    position: relative;
    z-index: 99;
}

.nivo-controlNav a.active {
    font-weight: bold;
}

.slideshow {
    margin-bottom: 20px;
}

.slideshow a {
    border: 0px none;
    display: block;
}

.nivo-controlNav {
    bottom: -40px;
    height: 26px;
    left: 43%;
    margin: 0px auto;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.nivo-controlNav a {
    background: url("../image/bullets.png") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    display: inline-block;
    float: left;
    height: 22px;
    margin: 5px 2px 0px;
    text-indent: -9999px;
    width: 22px;
}

.nivo-controlNav a.active {
    background-position: 0px -22px;
}

.nivo-directionNav a {
    background: url("../image/new_arrows_sprite.png") no-repeat scroll 0% 0% transparent;
    border: 0px none;
    display: block;
    height: 64px;
    text-indent: -9999px;
    width: 26px;
}

a.nivo-nextNav {
    background: url("../image/slide_arrows.png") no-repeat scroll right bottom transparent;
    right: -36px;
}

a.nivo-nextNav:hover {
    background: url("../image/slide_arrows.png") no-repeat scroll right top transparent;
    right: -36px;
}

a.nivo-prevNav:hover {
    background: url("../image/slide_arrows.png") no-repeat scroll left top transparent;
    left: -36px;
}

a.nivo-prevNav {
    background: url("../image/slide_arrows.png") no-repeat scroll left bottom transparent;
    left: -36px;
}

.nivo-caption {
    font-family: Helvetica,Arial,sans-serif;
    text-shadow: none;
}

.nivo-caption a {
    color: #EFE9D1;
    text-decoration: underline;
}

.nivo-directionNav {
    display: block ! important;
}

.wrapper {
    height: 280px;
    padding: 10px;
}

.caption {
    background: none repeat scroll 0% 0% #880000;
    color: #FFFFFF;
    float: right;
    opacity: 0.8;
    padding: 5px;
    text-decoration: none;
}
